<p-menubar [model]="items">
  <ng-template #start>
      <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="..." fill="var(--primary-color)" />
      </svg>
  </ng-template>
 
  <ng-template #end>
      <div class="flex items-center gap-2">
          <input type="text" pInputText placeholder="Search" class="w-36" />
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </div>
  </ng-template>
</p-menubar>
