.flex{
  display: flex;
  gap: 3rem;
}
.container{
  align-items: center;
  display: flex;
  gap: 5rem;
}
p-card{
  max-width: 300px;
  margin: 20px 10px 20px 10px;
  min-width: 247.9px;
}




.chart{
  width: 100%;
}

@media (max-width:800px){
  .flex{
    flex-wrap: wrap;
  }
}


