@if (photoResource.hasValue()) {
  <div class="flex">
    <p-image [src]="photoResource.value().urls.small" [preview]="true" width="450">
      <ng-template #indicator>
            <i class="pi pi-search"></i>
        </ng-template>
        <ng-template #image>
            <img [src]="photoResource.value().urls.small" alt="image" width="550" />

        </ng-template>
        <ng-template #preview let-style="style" let-previewCallback="previewCallback">
          <span>{{ photoResource.value().user.name }}</span>
            <img [src]="photoResource.value().urls.regular" alt="image" [style]="style" (click)="previewCallback()" />
        </ng-template>
      </p-image>
      <div>
       <p> {{ photoResource.value().user.first_name.toUpperCase() }} </p>
      </div>
  </div>

}@else{
  <app-loading-spinner [strokeWidth]="strokeWidth"
    [animationDuration]="animationDuration">
  </app-loading-spinner>
}
